.editor_wrapper {
  position: relative;
  width: calc(100% - 10px);
  height: 100%;
}

.editor_wrapper .button-format {
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor_wrapper:hover .button-format {
  opacity: 1;
}
